:root {
    --cor: rgb(90, 80, 131);
    --cor-escura: rgb(70, 59, 112);
}

body {
    background-color: var(--cor);
    margin: 0;
    padding: 0;
    display: grid;
    place-items: center;
    height: 100dvh;
}

/* Formulários responsivos */
form {
    width: 100%;
    max-width: 600px; /* limita em telas grandes */
    margin: 0 auto;   /* centraliza */
}

/* Botão */
.btn-troca-form {
    background-color: var(--cor);
    color: #fff;
    padding: 10px;
    transition: .3s;
}

.btn-troca-form:hover {
    background-color: var(--cor-escura);
    color: #fff;
}

/* Resultados */
.bg-purple {
    background-color: var(--cor-escura);
    color: #fff;
}

#resultados_ruas {
    background-color: var(--cor);
    height: 150px;
    overflow-y: auto;
    position: relative;
}

#resultados_ruas li {
    background-color: var(--cor);
    color: #fff;
    cursor: pointer;
}

/* Form containers */
#form_pesquisa_cep,
#form_pesquisa_rua {
    max-width: 95%;        /* ocupa quase toda a largura em telas pequenas */
    margin: 20px auto;     /* espaçamento para mobile */
    transition: opacity 0.5s ease, visibility 0.5s ease;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

/* Ocultar quando não estiver ativo */
.hidden {
    opacity: 0;
    visibility: hidden;
    position: absolute; /* mantém fora do fluxo */
}

/* Ajustes para mobile */
@media (max-width: 576px) {
    h1 {
        font-size: 1.5rem;
    }

    .btn-troca-form {
        font-size: 0.9rem;
        padding: 8px;
    }
}
